<div class="container" id="home-container">
  <div class="jumbotron text-center">  
    <h1 class="display-4">Welcome to the Notice board</h1>
    <p class="lead align-center">This is an advertising board. You're sure to find something you like.</p>     
    <%= link_to "Create", new_article_path, class: "btn btn-warning btn-lg" %>       
  </div>
</div>


